.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 800px;
    min-width: 500px;
    padding: 0 1em;
    margin: 0em auto 3em;
    color: var(--primary-text-color);
}

.heading{
    width: 50%;
}

.bgbtn{
    width: 50%;
    text-align: right;
}

.button{
    border: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    display: inline-flex;
    color: var(--primary-text-color);
}

@media screen and (max-width: 835px) {
    .header{
        max-width: 600px;
        min-width: 350px;
    }
}

@media screen and (max-width: 640px){
    .header{
        width: 100%;
        max-width: 320px;
        min-width: 300px;
    }
}

@media screen and (max-width: 350px) {
    .header{
        width: 80%;
        max-width: 250px;
        min-width: 150px;
    }
}