.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    min-width: 500px;
    margin: 1em auto;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    background-color: var(--card-bg-color);
    padding: 1rem;
}

.image{
    height: 100%;
    width: 15%;
}

.card img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.container{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
}

.content{
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userName{
    margin: 0.5em 0em;
    color: #0079FF;
}

.date{
    color: var(--primary-text-color);
    /* color: #697C9A; */
}

.bio{
    margin: 1em 0em;
    color: var(--primary-text-color);
}

.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 640px;
    min-width: 200px;
    margin: 1em 0 1em auto;
    border-radius: 14px;
    background-color: var(--bg-color);
    padding: 1rem;
}

.userInfo{
    width: 33%;
    margin-left: 00.5em;
    color: var(--primary-text-color);
}

.userInfo h2{
    color: var(--primary-text-color);
}

.colunm{
    display: flex;
    flex-direction: row;
    height: 8em;
}

.locTwit{
    margin: 1em 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: row;
    margin: 0.5em 2em;
    color: var(--primary-text-color);
}

.box svg{
    fill: #fff;
    margin-right: 1em;
}

.comblo{
    margin: 1em 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.BlogLink {
    text-decoration: none;
    color: var(--primary-text-color);
}
.BlogLink:hover {
    text-decoration: underline;
}

@media screen and (max-width: 835px){
    .card{
        position: relative;
        max-width: 600px;
        min-width: 350px;
    }

    .image{
        align-self: flex-start;
        height: 20%;
    }

    .card img{
        width: 80px;
        height: 80px;
    }

    .container{
        width: 100%;
    }

    .content{
        position: absolute;
        display: block;
        /* margin-left: 1em; */
        right: 0;
        top: 0.7em;
        left: 115px;
    }

    .userName{
        position: absolute;
        left: 115px;
        top: 4.7em;
        /* margin-left: 1em; */
    }

    .info{
        max-width: 600px;
        padding: 0;
    }

    .userInfo{
        margin-left: 0;
        padding: 1em;
    }
}

@media screen and (max-width: 640px) {
    .card{
        font-size: 13px;
        width: 100%;
        max-width: 320px;
        min-width: 300px;
    }

    .content{
        top: 1em;
    }

    .content h1{
        font-size: 22px;
    }

    .userName{
        top: 5em;
    }

    .bio{
        margin: 1em 1em;
    }

    .info{
        text-align: center;
    }

    .colunm{
        height: 11em;
        flex-direction: column;
    }

    .locTwit{
        width: 100%;
        margin: 0;
    }

    .comblo{
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width: 350px) {
    .card{
        font-size: 11px;
        width: 80%;
        max-width: 250px;
        min-width: 150px;
    }

    .userName{
        top: 7.5em;
    }
}